.main_box{
    max-width:960px;
    min-width: 60%;
    margin:0 auto;
}

.main_box img{
    min-width: 60%;
    max-width: 800px;
}

h2{
    text-align: center;
    padding-bottom:20px;
}

.tag,.article_info,.article_content{
    text-align: center;
    padding-top:10px;
}

.tag>span,.article_info>span{
    margin-right:10px;
}

.tag{
    padding:10px 0;
    border-bottom:1px solid #f0f0f0;
}

.article_content{
    margin-bottom: 100px;
}

.avatar_style{
    width:50px;
    height:50px;
}

.comment{
    padding:0 14px 14px 14px;
    border-bottom:1px solid #f0f0f0;
}


#content{
    height:80px;
    background:#eee;
    border:none;
    resize:vertical;
}


.front_user_info>span{
    margin-right:8px;
    color:#999;
    font-size:12px;
}


.media_left_box{
    padding-right:20px;
}

.media_body_box{
    width:100%;
}

.media_body_box>p{
    margin-top:8px;
    font-size:14px;
    margin-bottom: 0;
}

.add_comment{
    margin-top: 24px;
}

#comment_btn{
    float:right;
    margin-top:10px;
}

h4{
    color:#428bca;
}

.edit_btn{
    float:right;
}

.btn_right{
    float:right;
    margin-top:10px;
}

.reply_btn{
    float:right;
}

.comment_author{
    color:#999;
    font-size:12px;
}

.comment_content{
    margin-top: 6px;
    color:#428bca;
}

.second_comment{
    background:#eee;
    padding:15px;
}

.second_media_body_box{
    width:960px;
}
.second_media_body_box .front_user_info{
    margin-bottom: 4px;
}