.main_box{
    width:960px;
    margin:0 auto;
}

.main_box img{
    max-width: 800px;
}

h2{
    text-align: center;
    padding-bottom:20px;
}

.tag,.article_info,.article_content{
    text-align: center;
    padding-top:10px;
}

.tag>span,.article_info>span{
    margin-right:10px;
}

.tag{
    padding:10px 0;
    border-bottom:1px solid #f0f0f0;
}

#comment{
    height:80px;
    background:#eee;
    border:none;
    resize:vertical;
}
